body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #ddffff;
}

table {
    width: 80%;
}

td, th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.notification {
    background-color: palegreen;
    font-size: larger;
}

.error {
    background-color: tomato;
    font-size: larger;
}

.logout {
    font-size: large;
    padding-left: 350px;
}

.homelink {
    font-size: large;
    padding-left: 20px;
}
    