<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ravintola-ERP</title>
<h1>Ravintola-ERP</h1>

<hr>

<div>

    {% with notifications = get_flashed_messages(category_filter=['notification']) %}
    {% if notifications %}
        <p class=notification>{{ notifications[0].strip("[]'") }} </p>
    {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=['error']) %}
    {% if errors %}
        <p class=error>{{ errors[0].strip("[]'") }} </p>
    {% endif %}
    {% endwith %}

</div>

{% block content %}{% endblock %}